@import url('normalize.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');



	/*-------------------------------------	Structure------------------------------------- */

											
	*{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	h1,h2,h3,h4,h5,h6{
		font-family: 'Jura', sans-serif;
	}
	
	p {
		font-family: 'Jura', sans-serif;
		
	}
	
															/* Taken from  MDN */
	html {
	  font-size: 17px;
	}
	@media (max-width: 900px) {
		
	html 
	  { 
	  font-size: 15px; 
	  }
	}
	@media (max-width: 400px) {
	  html 
	  { font-size: 13px; }
	}

	/* Type will scale with document */
	h1 {
	  font-size: 3rem;
	}
	h2 {
	  font-size: 2.5rem;
	}
	h3 {
	  font-size: 2rem;
	}
	

	/*------------------------------------- Grid-------------------------------------*/

			
	*{
	
		font-family: 'Open Sans', sans-serif;
	}

	#lerret{
		float:left;
		border: black solid 1px;
		grid-area: canvas
		
	}
	
	#top-header{
		border-radius: 50px 0px 50px 0px;
		background-color:#FFA500;
		text-align:center;
		color:black;
		text-shadow:2px 2px #341C09;
		width:100%;
		grid-area: main-header;
	}
	
	body{
		background-color:#FFFAF0;
		color:#341C09;
	}
	
	#navigationmenu {
		grid-area: navigationmenu;
		margin:0 auto;
	}
	
	#navigationmenu ul li{
		display:inline-block;
		margin: 0 auto;
		padding: 40px;
	}
	
	#navigationmenu ul li a {
		color:black;
		font-size: 1.1rem;
		text-decoration:none;
	}
	
	
	#navigationmenu ul li a:hover {
		border-bottom: solid;
	}
	
	#activeDirectory{
		border-bottom: solid;
	}
	
	
	#master-grid{
		max-width: 1400px;
		margin: 0 auto;
		width:100%;
		background-color:#FFFAF0;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 150px 1fr 5fr 200px;
		grid-template-areas: "main-header  main-header"
							"navigationmenu navigationmenu"
							"canvas  main-area"
							"footer main-area";
	}
	
	
	
	
	footer {
		grid-area: footer;
		background-color:brown;
		
	}
	
	/*-------------------------------------Canvas & Articles------------------------------------- */
	
	#paragrafHint{
		display:none;
	}
	
	#flater{
		
		position: relative;
	}
	
	#lerret{
		border-radius: 15px 0px 0px 15px;
		left: 0;
		position:absolute;
		
		
	}
	
	#lerret2{
		border-radius: 15px 0px 0px 15px;
		left: 0;
		position:absolute;
	}
	
	
	button {
		padding:10px 15px;
	}
	
	main{
		grid-area: main-area;
		display:grid;
		
		grid-row-gap:10px;
		grid-template-rows: 1fr 3fr 2fr 2fr ;
		grid-template-areas:
							 "section-hint"
							 "section-submit"
							 "section-wrong"
							 "section-points";
	}
	
	input[type=text] {
		border: 2px solid black;
		border-radius:5px;
		margin: 8px 0;
		padding: 12px 20px;
		box-sizing:border-box;
		padding:12px 20px;
	}
	
	#utskriftFeil {
		font-size:1.5rem;
		font-weight: bold,
	}
	section {
		padding:0 15px;
	}
	
	
	#section-hint {
		
		width: 100%;
		background-color:silver;
		
	}
	
	.fa-question-circle:hover{
		color:green;
	}
	
	
	#section-submit {
		
		width: 100%;
		background-color:silver;
		
	}
	
	
	#section-wrong {
		
		width: 100%;
		background-color:silver;
		
	}
	
	#section-points {
		
		width: 100%;
		background-color:silver;
		
	}
	
	
	
	
	/*------------------------------------- FOOTER------------------------------------- */
	
	
	footer p {
		text-align:center;
		font-size: 1.5rem;
		;
	}
	
	
	
	footer p a {
		color:white;
		padding: 0 10px;
	}
	
	footer{
		text-decoration:none;
		background-color: #9D4502;
		text-align:center;
		width: 100%;
		color: #FFEBDC;	
	}
